.text_palate {
  margin: 3%;
}
.props-meta-details {
  margin: 3% auto;
  font-size: 100;
  //   color: #9a9da2;
  word-spacing: 1px;
  letter-spacing: 0.4px;
  font-weight: bold;
}
.meta-data {
  color: #9a9da2;
}
.description {
  margin-right: 15%;
  color: #d0d4da;
}
.play_link {
  display: flex;
  align-items: center;
  margin-top: 8%;
}
.start_title {
  margin: 0;
  color: #c0c4c9;
}
.watch_title {
  margin: 0 4%;
}
