.text_palate {
  margin: 3%;
  margin-right: 0;
  position: relative;
  z-index: 5;
}
.props-meta-details {
  margin: 3% auto;
  font-size: 100;
  //   color: #9a9da2;
  word-spacing: 1px;
  letter-spacing: 0.4px;
  font-weight: bold;
}
.meta-data {
  color: #9a9da2;
}
.description {
  margin-right: 15%;
  color: #d0d4da;
}
.play_link {
  display: flex;
  align-items: center;
}
.start_title {
  margin: 0;
  color: #c0c4c9;
}
.watch_title {
  margin: 0 4%;
}
.slider_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8%;
  margin-right: 0%;
}
.Icon_align {
  display: flex;
  justify-content: space-between;
}
.Slider_Icon {
  text-align: center;
  font-size: 0.8rem;
  font-weight: b;
  margin-right: 25%;
  margin-left: -5%;
}
